<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form>
      <input type="text" placeholder="Make Trill" id="trillInput"></input>
    </form>
    <h1>Hit count: 1 trillion</h1>
  </body>
</html>
